{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style%}

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{user.username}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{profile.year}} {{profile.course}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">{{profile.stu_col}}</h6>
                      <hr>
                      <div class="d-flex justify-content-around">
                          <p class="d-inline">{{profile.stu_id}}</p>
                          <p class="d-inline">{{profile.mob_num}}</p>
                          <p class="d-inline">{{user.email}}</p>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Domain</th>
                        <th scope="col">Lead Name</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for instance in qs %}
                        <tr>
                            <th scope="row">{{instance.id}}</th>
                            <td>{{instance.title}}</td>
                            <td>{{instance.domain}}</td>
                            <td>{{instance.user}}</td>
                            <td><a href="{{instance.get_absolute_url}}">View Details</a></td>
                        </tr>
                    {% endfor%}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endblock%}