{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style%}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css'%}">
{% endblock %}
{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="inactive underlineHover"><a href="{% url 'login' %}">Login</a></h2>
      <h2 class="active">Sign Up </h2>
  
      <!-- Login Form -->
      <form method="POST" class="float-container">
        {% csrf_token %}
         <div class="float-child">
          {{ u_form |crispy }}
          </div>
          
          <div class="vl"></div>
        
        <div class="float-child">
          {{ p_form|crispy }}  
        </div>
        <input type="submit" class="fadeIn fourth" value="Sign Up">
      </div>
    </div>
  </div>
{% endblock%}