{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style%}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex">
                    <div class="col-6 pt-2">
                        <h5 class="card-title">Project Details</h5>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <a class="btn btn-info mr-2"target="_blank" href="https://forms.gle/3tLVYyWgftCWRFsQ8">Want to Contribute?</a>
                        <a href ='{{object.github_url}}' target="_blank" class="btn btn-dark">GitHub</a>
                    </div>
                  
                </div>
                <div class="card-body">
                    <h5 class="card-title">Title: {{object.title}}</h5>
                    <h6 class="card-subtitle mb-2 mr-5 text-muted">{{object.institute}}</h6>
                    <span class="badge badge-dark p-2 mr-4">
                        <h6 class="card-subtitle mb-2 d-inline">Domain: {{object.domain}}</h6>
                    </span>
                    <span class="badge badge-dark p-2">
                        <h6 class="card-subtitle mb-2 d-inline">Category: {{object.category}}</h6>
                    </span>
                    <p class="card-text mt-2">Problem Statement : {{object.statement}}</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Plagerism Report:</h6>
                  <p class="card-text">Maximum similarity : {{object.plagarised}} %</p>
                  <p class="card-text">Maximum similarity with : {{object.plagarised_with}}</p>
                </div>
              </div>
        </div>
    </div>
    {% if user.profile.is_faculty and user.profile.stu_col == object.institute %}
        <div class="row mt-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                    <h6 class="card-title">User Information:</h6>
                    <p class="card-text">User : {{object.user.first_name}} {{object.user.last_name}}</p>
                    <p class="card-text">Institute : {{object.user.profile.stu_col}}</p>
                    <p class="card-text">Year : {{object.user.profile.year}} | Course : {{object.user.profile.course}}</p>
                    </div>
                    <div class="card-header">
                        {% if object.is_approved == False%}
                            <form action="" method="post">
                                {% csrf_token %}
                                <input class="btn btn-dark" type="submit" value="Approve" name="value">
                            </form>
                        {% else %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Disapprove" name="value">
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock%}
