{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block style%}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row report_items p-2">
        <div class="col-12">
            <legend>Title : {{object.title}}</legend>
            <h1>More Details will come here</h1>
            <h1 class="">Approval Status : {{object.is_approved}}</h1>
            <h1 class="">Problem Statement : {{object.statement}}</h1>
            <h1 class="">Institute : {{object.institute}}</h1>
            <h1 class="">Plagarised : {{object.plagarised}} %</h1>
            <h1 class="">Plagarised With : {{object.plagarised_with}}</h1>
            {% if user.profile.is_faculty and object.is_approved is not True %}
                {% if 'project-detail' in request.path %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Approve" name="value">
                    </form>
                {% endif %}
            {% else %}
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Disapprove" name="value">
                </form>
            {% endif %}
            {% if object.category == "Research" and object.user != user %}
                <button class="btn btn-outline-primary">Want To Contribute?</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}
